body{
    background: #ee3f54;
}
/* #1c36 color café bonito */
#social-container{
    background-color: #1c3646;  
    padding-top: 10px;
}
#logo-container .callout{
    font-family: 'Amatic SC', cursive;
    background-color: #1c36;
    font-size: 3.2em;
    color: #ffffff;
    margin-bottom: 0;
}
#menu-container{
    font-family: 'Amatic SC', cursive;
    background-color:#008080;
}
#menu-container li a{
    color: #ffffff;
    font-size: 1.5em;
}
#menu-container li a:hover{
    color:#1c3646;
}
img.img-responsive-circle{
max-width: 100%;
height: auto;
border-radius: 50% 
}
.font-load-profile
{
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
    font-size: 5.5em;
    margin-bottom: 0;
}
#timeline-header{
    background-color: #5e7eb7;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0.8em;
}
#line-container, #line-container .tabs {
    font-family: 'Amatic SC', cursive;
    background-color: #5e7eb7;
    color:#ffffff;
    border:0;
}
#line-container .tabs .tabs-title a{ 
    font-size: 2.2em;
    font-weight: bold;
    color:#ffffff;
}
#line-container .tabs .tabs-title a:hover{
    color: rgba(255, 255, 255, 0.66);
    background-color: transparent;
    text-decoration:overline ;
}
#line-container .tabs .tabs-title.is-active a{
    background-color: #5e7eb7;
    text-decoration:overline;
} 
.tabs-title{
    display: inline-block;
    float: none;
}
.tabs-panel{
    color:#ffffff;
    font-size: 2.2em;
    background: #5e7eb7;
}
.title-left{
    color: gray;
    padding-left: 2.7em;
}
.secondary-p
{
    color:#59b5b1;
}
.secondary-h{
    font-weight: bold;
    color:#59b5b1;
    font-family: 'Amatic SC', cursive;
}